/* styles.css */

/* Body styles */
body {
    background-color: #393958; /* background-color */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}

/* Header styles */
.container {
   
    padding: 50px;
    color: rgb(252, 251, 253);
    text-align: right;
    height: 200px;

}
/* Header Image */
header {
    background-image: url('https://sgimage.netmarble.com/images/netmarble/sololv/20240105/rxxx1704430473104.jpg'); /* Replace 'header-background.jpg' with your image file */
    background-size: cover;
    background-position: center ;
}
/* Style for the form container */
.form-container {
    max-width: 300px; /* Adjust the maximum width as needed */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add padding around the form */
    border: 1px solid #2d3d94; /* Add a border around the form */
    border-radius: 5px; /* Add some border radius for rounded corners */
}

/* Style for form labels */
label {
    display: -ms-inline-grid;
    margin-bottom: 2px; /* Add some space between labels */
}

/* Style for form input fields */
input[type="text"],
input[type="number"],
input[type="url"] {
    width: 15%; 
    padding: 2px; /* Add padding inside input fields */
    margin-inline-start: 5px; /* Add some space between input fields */
    border: 1px solid #181a2e; /* Add a border around input fields */
    border-radius: 4px; /* Add some border radius for rounded corners */
    box-sizing: border-box; /* Include padding and border in input field's total width */
    
}

/* Style for the submit button */
button[type="button"] {
    width: 15%; 
    padding: 10px; /* Add padding inside the button */
    background-color: #111a38; /* Green background color */
    color: rgb(246, 246, 250); /* White text color */
    border: none ;/* Remove border */
    border-radius: 4px; /* Add some border radius for rounded corners */
    cursor: pointer; /* Add pointer cursor on hover */
}

/* Style for the submit button on hover */
button[type="button"]:hover {
    background-color: #0b34ee; /* Light blue color on hover */
}

/* Equipment card styles */
.card {
    background-color: rgb(95, 90, 145);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(25, 33, 104, 0.1);
    margin: 5px;
    padding: 15px;
    max-width: 200px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.card img {
    width: 100%; /* Make all images the same size */
    height: 300px;
    border-radius: 10px;
}

/* Footer styles */
footer {
    height: 280px;
    background-color: #040c14; /* Dark blue background */
    color: white;
    text-align: center;
    padding: 20px;
}

#media-logo {
    padding: 2px; 
    margin: 7px; 

}
#media-logo img {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    border-radius: 50%; /* Creates a circular boundary */
    object-fit: cover; /* Ensures the image fills the container while maintaining its aspect ratio */
    margin-right: 50px;
}
#sponsors {
    padding: 20px; 
    margin: 10px
}
#sponsors img {
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
    border-radius: 50%; /* Creates a circular boundary */
    object-fit: cover; /* Ensures the image fills the container while maintaining its aspect ratio */
    margin-right: 20px;
}
